@import url('global.css');
  
.container {
    position: absolute;
    display: block;
    border: darkorange 1px dotted;
}

.box {
    position: absolute;
    display : block;
    background-color: chartreuse;
    height: 50px;
    width: 100px;
    /* top : 0px; */
    z-index: 10;
    transform : translateX(0px);
  transition: transform 1s linear;
}

.boxParent {
    position: absolute;
    /*display: flex;*/
    width: 500px;
    height: 400px;
    background-color: darkblue;
    flex-direction: column;
}

.base{
    position: absolute;
    display : block;
    background-color: red;
    height: 10px;
    width: 100px;
    top : 390px;
    z-index: 10;
}
