:root {
    --bgcolor : #ffffff;
    --textcolor : #000000;
    --containerbgcolor : #ffffff;
  }

body {
      background-color: var(--bgcolor);
      color: var(--textcolor);
      margin: 0;
      padding: 0;
    }
  
nav {
    display: block;

  }

  nav > ul {
    position: fixed;
  top: 0;
  width: 100%;
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  }

nav > ul > li {
  float: left;
}

nav > ul > li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav > ul > li a:hover {
  background-color: #111;
}
  .content-img {
    width: 100%;
  }

  .content-img img {
    max-width : 100%;
     max-height : 100%;
  }

.parent-container {
  padding:20px;margin-top:30px;
}