@import url("global.css");

body {
  min-width: 480px;
}

.main {
  padding: 4ch;
  height: 40vh;
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.grid {
  display: grid;
  gap: 1vh;
  grid-template-columns: repeat(3, minmax(10vh, auto));
  grid-template-rows: repeat(3, minmax(10vh, auto));
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  border: fuchsia 1px solid;
  font-size: xx-large;
}

.tile:nth-child(odd) {
  border: black 1px solid;
}

.tile:hover {
  cursor: pointer;
}

.reset {
  display: block;
  background-color: aqua;
  width: max-content;
  cursor: pointer;
}
